# Core
streamlit
pandas
numpy
matplotlib
seaborn
plotly

# Machine Learning
scikit-learn
xgboost
lightgbm
shap
optuna

# Profiling / EDA
ydata-profiling
streamlit-pandas-profiling

# Persistence
joblib

# Database / IO
sqlalchemy
xlsxwriter
kaggle

# NLP (optional but used)
nltk
statsmodels
gunicorn==21.2.0
python-dotenv==1.0.0
groq
